                  <!-- to save changes cmd+s -->
                  <!-- to open the page: click on right mouse and choose 'Open in browser'-->
<!DOCTYPE html>   <!--this line tells browser that this is html document-->
                  <html lang="en" xmlns="http://www.w3.org/1999/html">


<style>
    .myClass{
        color: yellowgreen;
        font-size: 30px;
    }
    <!--p {color: darkviolet}-->
    h1 {
        color: palevioletred;
        font-size: 35px;
    }
</style>

<head>            <!-- we use had to give browser information about this page, for example
                    we can use 'title' to specify the title of the page that'll appear in browser -->

    <meta charset="UTF-8">   <!-- tells to browser which kind of characters we use -->
    <title>My page</title>
</head>
<body>
<header>
    <h1>My website</h1>
    <!--<h1> Cat in snow </h1>   there are 6 types of headers: h1 - h6 (each one gives different size to text -->
    <nav>Home page</nav>
        <a href = "http://www.google.com"><h1>Google link</h1></a>
    <nav>Skin care</nav>
        <a href = "https://www.lookfantastic.com" target="_blank"><h1>Look fantastic link</h1></a>
        <a href = "https://www.cultbeauty.co.uk" target="_blank"><h1>Cult beauty link</h1></a>
        <a href = "https://il.iherb.com" target="_blank"><h1>Iherb link</h1></a>
    <nav>Make up</nav>
        <a href = "page2.html"><h1>Page 2</h1></a>
    <nav>Sale</nav>
        <a href = "cat.jpg"><h1>Cat in snow</h1></a>

    <a href = "page1.html"><h1>Page 1</h1></a>
    <a href = "page3.html"><h1>Page 3</h1></a>

</header>

<hr/>
<main>
    <!-- <p><big>The only way you see the results</big></p>
    <p><small>is by staying consistent</small></p> -->

    <article>
        <section>
            <h1><big><i>Rule 1</i></big></h1>
            The only way you see the results
            is by staying consistent
        </section>

        <section>
            <h1><big><i>Rule 2</i></big></h1>
            You don't get what you wish for,
            You get what you work for
        </section>

    </article>
</main>



<footer>
    <p class="myClass"><i><i></i>Christmas</i></b> is coming</p>
    <p class="myClass">Let it <i>snow</i></p>
</footer>

<p>H<sub>2</sub>O</p>
<p>10<sup>2</sup></p>
</body>
</html>

   <!--<img src="/Users/anastasiya/PycharmProjects/untitled2/image/cat.jpg">     image element doesn't have </img> because it can't have children
                                                                                src - is a path to the image-->
