<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <!-- <title>This is main page</title> -->
    <title>{{title}}</title>
</head>
<body>
<!--<a href="about.html"><h1>Return to home page</h1></a>
<img width="100" height ="100"src="cat2.jpg" alt = "Small pretty cat"> -->

<h1>Click on the cat to return to home page</h1>
<a href="about.html">
    <img width="160" height ="128"src="cat2.jpg" alt = "Small pretty cat">
</a>

<ul>
    <li><a href="https://www.apple.com/il">Apple</a></li>
    <li>Orange</li>
        <ol>
            <li>Sweet</li>
            <li>Tasty</li>
        </ol>
    <li>Grape</li>
</ul>

<ol>
    <li>Mix ingredients</li>
    <li>Bake for 30 minutes</li>
    <li>Enjoy your cake!</li>
</ol>

<dl>
    <dt>Cat</dt>
    <dd>Fluffy, cute, pretty</dd>

    <dt>Dog</dt>
    <dd>Friendly, funny</dd>
</dl>
</body>
</html>
