<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input from user</title>
</head>
<body>
    <a href="about.html">Return to home page</a>

    <div>
        <input type="text"/>
    </div>
    <div>
        <input type="password"/>
    </div>

    <div>
        <input type="date"/>
    </div>

    <div>
        <input type="range"/>
    </div>

    <div>
        <input type="file"/>
    </div>

    <div>
        <input type="checkbox"/>
        <input type="checkbox"/>
    </div>

    <div>
        <input name="btn" type="radio"/>
        <input name="btn" type="radio"/>
    </div>

    <div>
        <input type="submit">
    </div>

    <div>
        <textarea rows="10" cols="30" >     <!-- "enter your opinion" - default value, optional -->
            Enter a opinion
        </textarea>
    </div>

    <span>span2</span>

    <div>div1</div>
    <div>div2</div>


</body>
</html>