<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>
</head>
<body>

    <a href = "about.html"><h>Return to home page</h></a>
    <table>
        <thead>
            <caption><h1>List of employee</h1></caption>
            <tr>
                <td><h1><b1>name</b1></h1></td>
                <td><h1><b1>age</b1></h1></td>
                <td><h1><b1>country</b1></h1></td>
                <td><h1><b1>company</b1></h1></td>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>Isabella</td>
                <td>30</td>
                <td>Norway</td>
                <td>Amazon</td>
            </tr>

            <tr>
                <td>John</td>
                <td>35</td>
                <td>USA</td>
                <td>Microsoft</td>
            </tr>

            <tr>
                <td>Sophi</td>
                <td>32</td>
                <td>France</td>
                <td>Ebay</td>
            </tr>
        </tbody>
    </table>
</body>
</html>